@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');

body{
    margin: 0;
}

*{
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

h1{
    font-size: 45px;
}

h2{
    font-size: 30px;
}