
.slide2{
    background-color:#ffced4;
}

.slide2 .pic1{
    width: 40%;
    height: 100vh;
    background-color:#00939c;
    float: right;
    margin-right: 30%;
}

.slide2 .pic2{
    text-align: right;
    height: 100vh;
}