
.slide {
   position: relative;
}

.slide1_pic-strip {
    width: 10%;
    height: 100%;
    background-color:#ffbd2d;
    float: right;
    position: relative;
    z-index: 1;
    right: 10%;
}

.slide1_pic-background {
    z-index: 2;
    text-align: center;
    height: 100%;
    background: #ffced4;
    clip-path: polygon(100% 24%, 100% 100%, 83% 99%, 0 78%, 0 0);
}

.slide1_text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
}